{% extends 'base.html.twig' %}

{% block title %}Messages list{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('message') }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('message') }}
    {% endblock %}
{% block body %}

    <h1>Message list</h1>
    <div class="logo">
        <img src="{{asset('build/images/isfahan.png')}}">
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.username }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('app_message_show', {'id': message.id}) }}">show</a>
                    <a type="button" class="btn btn-danger" href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-light" href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
