{% extends 'base.html.twig' %}

{% block title %}{{ 'hotel_list.title'|trans }}{% endblock %}

{% block body %}


    <div class="logo">
        <img class="rounded mx-auto d-block" src="{{asset('build/images/isfahan.png')}}">
    </div>
    <h1 class="text-center display-3"> {{ 'hotel.title'|trans}} </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'hotel.Id'|trans }}</th>
                <th>{{ 'hotel.Name'|trans }}</th>
                <th>{{ 'hotel.Address'|trans }}</th>
                <th>{{ 'hotel.Phone'|trans }}</th>
                <th>{{ 'hotel.Stars'|trans }}</th>
                <th>{{ 'hotel.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.phone }}</td>
                <td>{{ hotel.stars }}</td>
                <td>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('app_hotel_show', {'id': hotel.id}) }}">{{ 'hotel.button.show'|trans }}</a>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">{{ 'hotel.button.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-light" href="{{ path('app_hotel_new') }}">{{ 'hotel.button.create'|trans }}</a>
{% endblock %}
