{% extends 'base.html.twig' %}

{% block title %}Hotel list{% endblock %}

{% block body %}

    <h1>Hotel list</h1>
    <div class="logo">
        <img src="{{asset('build/images/isfahan.png')}}">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Stars</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.phone }}</td>
                <td>{{ hotel.stars }}</td>
                <td>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a type="button" class="btn btn-outline-warning" href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-light" href="{{ path('app_hotel_new') }}">Create new</a>
{% endblock %}
